// Design tokens
$base-color: #eff1f5;
$text-color: #4c4f69;
$rosewater: #dc8a78;
$crust: #dce0e8;
$mauve: #8839ef;

// Typography
$font-family-base: 'Anonymous Pro', 'Helvetica', 'Arial', sans-serif;