pre {
    padding: 1rem;
    overflow: auto;
}

// The line numbers already provide some kind of left/right padding
pre[data-linenos] {
    padding: 1rem 0;
}

pre table td {
    padding: 0;
}

// The line number cells
pre table td:nth-of-type(1) {
    text-align: center;
    user-select: none;
}

pre table {
    width: 100%;
    border-collapse: collapse;
}