<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dehanjl</title>
    <link rel="stylesheet" href="{{ get_url(path='style.css') | safe }}">
    <script src="https://kit.fontawesome.com/b9b10e6172.js" crossorigin="anonymous"></script>
</head>

<body>
    <header id="header">
        <nav id="navbar">
            <a href="{{ get_url(path='/') | safe }}">Home</a>
            <a href="{{ get_url(path='@/about.md') | safe }}">About Me</a>
            <a href="{{ get_url(path='@/resume.md') | safe }}">Resume</a>
            <a href="{{ get_url(path='@/blog/_index.md') | safe }}">Blog</a>
            <a href="{{ get_url(path='@/contact.md') | safe }}">Contact</a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer id="footer">
        <p>Copyright © Dehan J. Lamprecht 2025.</p>
        <p>Powered by <a href="https://www.getzola.org">Zola</a></p>
    </footer>
</body>

</html>